### Project ##
!**/src/main/**
!**/src/test/**

### Maven ###
!.mvn/wrapper/maven-wrapper.jar
target/
.flattened-pom.xml
dependency-reduced-pom.xml

### IntelliJ IDEA ###
!.idea/codeStyles/Project.xml
!.idea/jsonSchemas.xml
.idea/
*.iws
*.iml
*.ipr

### Scala SBT
.bsp

### json config file
*.json

### png images
*.png

### log files ###
*.log
hs_err_pid*
