.mvn.cache:
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - .m2/repository

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository"

workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_REF_PROTECTED == 'true'

stages:
  - validate
  - build
  - blackbox-tests

Run Linter:
  stage: validate
  script:
    - ./mvnw clean compile -am spotless:check modernizer:modernizer spotbugs:check pmd:check pmd:cpd-check

Run Test:
  stage: validate
  extends:
    - .mvn.cache
  needs:
    - job: Run Linter
  script:
    - ./mvnw clean verify

Build:
  stage: build
  extends:
    - .mvn.cache
  script:
    - ./mvnw clean package shade:shade -DskipTests=true -Djacoco.skip=true
  artifacts:
    paths:
      - target/project-1.0.jar

Run Black Box Tests:
  stage: blackbox-tests
  needs:
    - job: Build
      artifacts: true
  script:
    - ./tests/run.sh tests/cases target/project-1.0.jar
